body{
    background-color: antiquewhite;
}
.main-container{
        text-align: center;
    }
    .header{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .post-header{
        display: flex;
        justify-content: space-between;
    }
    .p-headerchildren{
        padding: 5px 10px;
    }
    *{
        border: 1px solid red ;
    }
   .feed-body{
    background-color: white;
    width: 60%;
    margin: auto;
   }
   img{
    width: 100%;
   }
   